.cardFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.cardFooter button {
  width: 65px;
  height: 48px;
  border-radius: 12px;
  background-color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 12px;
}

.cardFooter button:hover {
  opacity: 0.5;
}
