@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --red: #f74848;
  --yellow: #fefe61;
  --green: #62db38;
  --black: #000000;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute;
  top: 26px;
  left: 31px;

  height: 54px;
  width: auto;
}

.red {
  border: 3px solid var(--red);
}

.green {
  border: 3px solid var(--green);
}

.yellow {
  border: 3px solid var(--yellow);
}

.black {
  border: 3px solid var(--black);
}
