.resultsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.resultsTitle h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black);
}

.results h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.tryAgainButton {
  margin: 0 auto;
  height: 72px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 65px;
  border-radius: 12px;
  margin-top: 16px;
  background-color: #fff;
  border: 3px solid var(--yellow);
}

.tryAgainButton span {
  font-size: 20px;
  margin-right: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 23px;
  color: #000;
}

.tryAgainButton:hover {
  opacity: 0.5;
}
