.resultsTitle{
   display: flex;
   align-items:center;
   justify-content: center;
   gap: 12px;
   margin-bottom: 16px;
}

.resultsTitle h1{
   font-family: 'Roboto', sans-serif;
   font-size: 36px;
   font-weight: 700;
   line-height: 42px;
   color: var(--black)
}

.results h3{
   font-family: 'Roboto', sans-serif;
   font-weight: 400; 
   font-size: 22px;
   line-height:26px;
   text-align: center;
}